/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
.title {
    margin: 40px 0;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;   /* makes vertical */
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}

/* Card */
.card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

/* Card Title */
.card h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Result Text */
.card p {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #6a11cb;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 18px;
    background: #6a11cb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #4b0fa3;
}